#Contenido {
    margin: 40px 0;
}

#Contenido .titleArticle {
    width: 100%;
    text-align: center;
}

#Contenido .contentArticle {
    margin-top: 20px;
}

#Contenido .contentArticle p, #Contenido .contentArticle a {
    padding: 0 10px;
    margin-top: 5px;
}

#Contenido .contentArticle a {
    color: #FF0000;
}
@media (min-width: 1024px) {
    #Contenido .contentArticle a {
        display: block;
        width: 100%;
        padding: 0;
    }
    #Contenido .contentArticle p, #Contenido .contentArticle a {
        text-align: center;
    }
}