* {
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');

body {
    font-family: "Cormorant", serif;
    font-optical-sizing: auto;
    font-size: 1.2em;
    background-color: aliceblue;
}
a {
    cursor: pointer;
}
@media (min-width: 768px) {}

@media (min-width: 1024px) {}

@media (min-width: 1440px) {}